:root {
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
.dark-mode {
    --bg-color: #161722;
    --card-color: #25273c;
    --text-color: #b0b3cc;
    --active-btn: #1e68fa;
    --box-shadow: rgba(22, 23, 34, 0.39);
    --divider-color: rgba(77, 78, 87, 0.61);
    --bg-image: url(/public/dark-bg.png);
}
.light-mode {
    --bg-color: #fafafa;
    --card-color: #fff;
    --text-color: #484b6a;
    --active-btn: #4582fc;
    --box-shadow: rgba(43, 44, 56, 0.178);
    --hover-color: #656994;
    --divider-color: #e4e5f1;
    --bg-image: url(/public/light-bg.jpg);
}

.app {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 4rem 2rem;
}
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: block;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: var(--bg-image);
}

h1 {
    font-size: 1.2em;
    line-height: 1.1;
}

button {
    border-radius: 4px;
    border: none;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    padding: 1.2rem;
    background-color: var(--card-color);
    display: block;
    color: var(--text-color);
}
button:hover {
    border-color: #646cff;
}
